* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color_primary: #254159;
    --color_secondary: #385874;
    --color_button: orangered;
    --color_bg_light: #f5f5f5;
    --color_bg_blue: #bfd7f0;
    --color_bg_section: #eaeff3;
    --color_white: #fff;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color_bg_light);
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    padding: 20px;
    width: 100%;
}

h1 {
    font-size: 2.4rem;
    color: var(--color_primary);
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: var(--color_primary);
    margin: 20px 20px;
}

h3 {
    font-size: 1.8rem;
    color: var(--color_primary);
    margin: 20px 20px;
    padding-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: var(--color_primary);
    margin: 20px 20px;
    padding-top: 10px;
}

p {
    width: 50%;
    margin-bottom: 10px;
    line-height: 1.4;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

ol li {
    font-size: 1.5rem;
}

header {
    background: var(--color_white);
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--color_primary);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    display: flex;
    background-color: var(--color_white);
    font-size: 1.5rem;
    width: 100%;
}

.section {
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}

.section p {
    text-align: justify;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav li {
    padding: 10px;
    font-size: 2rem;
    border: solid 1px var(--color_secondary);
    border-radius: 5px;
    background-color: var(--color_bg_section);
}

nav li:hover {
    background-color: var(--color_bg_blue);
}

nav a {
    text-decoration: none;
    color: var(--color_primary);
}

nav a:hover {
    color: var(--color_secondary);
}

footer {
    background-color: var(--color_primary);
    color: var(--color_white);
    width: 100%;
}

footer p {
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}

#tenho_interesse {
    border-top: 1px solid var(--color_primary);
    background-color: var(--color_bg_blue);
    padding-left: 20px;
}

#tenho_interesse .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cognito {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px 20px;
    background-color: var(--color_bg_blue);
}

.cognito_mais {
    display: block;
}

.cog-branding, 
.branding__powered,
.cog-abuse {
    display: none !important;
}

#banner {
    display: flex;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

#banner .container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

#banner .button_cta {
    position: relative;
    transform: translateX(-450px) translateY(-50px);
}

.legenda {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateY(-150px);
}

.legenda h4,
.legenda h5 {
    color: var(--color_primary);
    margin: 0px;
    padding: 0;
    line-height: 1.5;
    font-size: 1.7rem;
}

.button_cta {
    display: inline-block;
    background-color: var(--color_button);
    color: var(--color_white);
    font-size: 2rem;
    box-shadow: 2px 2px 4px black;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 350;
}

#saiba_mais {
    background-color: var(--color_bg_section);
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 40px;
}

#img_saiba_mais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

#img_saiba_mais img {
    width: 100%;
}

#text_saiba_mais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    text-align: justify;
    font-size: 1.8rem;
}

#text_saiba_mais .button_cta {
    margin-top: 15px;
}

#duvidas {
    display: flex;
    flex-direction: column;
    background-color: var(--color_bg_blue);
    padding-left: 40px;
    border-top: solid 1px black;
}

dt {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}

dd {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0px 0px 25px 20px;
    text-decoration: underline;
}

/* 
-----------------------------------------------------
RESPONSIVIDADE PARA TABLETS 
-----------------------------------------------------
*/

@media (max-width: 1024px) {

    section img {
        max-width: 100%;
        height: 200px;
    }

    nav ul {
        gap: 10px;
    }

    nav li {
        font-size: 1.2rem;
    }

    ol {
        width: 60%;
        gap: 15px;
    }

    p {
        width: 60%;
    }

    .legenda {
        width: 45%;
        transform: translateX(190px) translateY(-150px);
    }

    .legenda h4, 
    .legenda h5 {
        font-size: 1.5rem;
    }

    #banner .button_cta {
    position: relative;
    transform: translateX(-130px) translateY(-50px);
    }

    #saiba_mais {
        gap: 30px;
    }

    #img_saiba_mais h1 {
        font-size: 2.2rem;
    }

    #text_saiba_mais {
        padding-top: 80px;
        font-size: 1.7rem;
    }


    #text_saiba_mais p {
        width: 100%;
    }
    
}

/*
-----------------------------------------------------
RESPONSIVIDADE PARA CELULARES 
-----------------------------------------------------
*/

@media (max-width: 430px) {

    .container img {
        width: 119px;
        height: 35px;
    }

    header .container {
        padding: 10px;
    }

    section img {
        max-width: 100%;
        height: 150px;
    }

    .section p {
        width: 90%;
    }

    nav ul {
        gap: 5px;
    }

    nav li {
        font-size: 0.9rem;
        padding: 5px;
    }

    ol {
        width: 70%;
        gap: 15px;
    }

    p {
        width: 70%;
        padding: 0 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    #banner .container {
        flex-direction: column;
        align-items: flex-end;
    }

    #banner .button_cta {
        font-size: 1.1rem;
        transform: translateX(-20px) translateY(20px);
        font-weight: 500;
    }

    .legenda {
        padding: 15px;
        width: 40%;
        transform: none;
    }

    .legenda h4,
    .legenda h5 {
        font-size: 1rem;
    }

    #saiba_mais {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
        padding: 20px 0;
    }

    #text_saiba_mais {
        width: 100%;
        padding-top: 20px;
    }

    #text_saiba_mais p {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }

    #img_saiba_mais {
        width: 90%;
    }

    #img_saiba_mais img {
        height: auto;
    }

    #img_saiba_mais h1 {
        font-size: 1.9rem;
        align-self: center;
    }

    #saiba_mais .button_cta {
        font-size: 1.2rem;
        align-self: center;
    }

    .cognito {
        padding: 20px 0 0 0;
    }
}